
hr{
	border: 1px dotted rgb(219, 39, 177);
}


#authenticationdiv{
	visibility:visible;
	position:fixed;
	background-color:rgba(0, 0, 0,0.7);
	width:50%;
	height:30%;
	right:20%;
	bottom:20%;
	padding:5%;
	
	z-index: 70;
		-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
		border: 1px dotted rgb(219, 39, 177);
	border-radius: 10%;
	
}

#authenticationdivhidden{
	visibility:hidden;
	background-color:rgba(0, 0, 0,0.1);
	width:0%;
	height:0%;
	position:absolute;
	right:50%;
	bottom:2%;
	z-index: 4;
	
	font-size:small;
	color:rgba(0, 0, 0,0.1);
		-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-radius: 30%;
}
#detailsdiv,tfdetailsdiv{
	visibility:hidden;
	background-color:rgba(0, 0, 0,0.1);
	width:0%;
	height:0%;
	position:absolute;
	right:50%;
	bottom:2%;
	z-index: 4;
	
	font-size:small;
	color:rgba(0, 0, 0,0.1);
		-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-radius: 30%;
}
#detailsdivcenter,tfdetailsdivcenter{
	visibility:visible;
	position:static;
	background-color:rgba(0, 0, 0,0.5);
	width:80%;
	height:auto;
	right:0%;
	padding:10%;
	top:10%;
	z-index: 70;
		-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
		border: 1px dotted rgb(219, 39, 177);
	border-radius: 10%;
	overflow-y: scroll;
}
.col{
	-moz-column-count: 2; /* Firefox */
	-webkit-column-count: 2; /* Safari and Chrome */
	column-count: 2;
	-moz-column-gap: 20%; /* Firefox */
	-webkit-column-gap: 20%; /* Safari and Chrome */
	column-gap: 20%;
	-moz-column-rule: 0.1em dotted rgb(219, 39, 177); /* Firefox */
	-webkit-column-rule: 0.1em dotted rgb(219, 39, 177); /* Safari and Chrome */
	column-rule: 0.1em dotted rgb(219, 39, 177);
	TEXT-ALIGN: justify;
	width: 100%;
	padding-bottom: 2em;
}
#zillpatternstable{
	
	width:80%;
	right:10%;
	left:10%;
	
}

.downbeat{
	color:#B20000;
	font:bolder;
}

#videoplayer3{
	width:100%;
	margin:auto;
}

#grey{
	color: grey;
}
@media screen and (max-width: 1000px) {

.col{
	-moz-column-count: 1; /* Firefox */
	-webkit-column-count: 1; /* Safari and Chrome */
	column-count: 1;
	-moz-column-gap: 20%; /* Firefox */
	-webkit-column-gap: 20%; /* Safari and Chrome */
	column-gap: 20%;
	
	TEXT-ALIGN: justify;
	width: 100%;
	padding-bottom: 2em;
}
}